python-dotenv==1.0.1
structlog==24.4.0

langchain==0.3.27
langchain-core==0.3.76
langchain-community==0.3.27

langchain-openai==0.3.32

openai==1.99.9

httpx==0.28.1

docx2txt==0.8
ipykernel==6.29.5
python-multipart==0.0.12

faiss-cpu==1.8.0.post1

fastapi
uvicorn
jinja2>=3.1.0
python-multipart

pandas==2.2.3