python-dotenv==1.0.1
structlog==24.4.0

langchain==0.2.17
langchain-community==0.2.19
langchain-core==0.2.43

langchain-groq==0.1.10
langchain-google-genai==1.0.10
langchain-openai==0.1.25

docx2txt==0.8
ipykernel==6.29.5
python-multipart==0.0.12

faiss-cpu==1.8.0.post1

fastapi
uvicorn
Jinja2

langsmith==0.1.129
openai==1.51.0

pandas==2.2.3